<ng-template #content let-modal>
  <div class="modal-header">
    <input class="form-control" id="inlineFormInputGroup" placeholder="SEARCH" type="text" />
    <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
  </div>
</ng-template>


<div class="nav" [ngClass]="{'scrolled': navbarScrolled}">
  <div class="nav-header">
    <div class="nav-title">
      <a>
        <button class=" navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class=" navbar-toggler-bar bar1"> </span>
          <span class=" navbar-toggler-bar bar2"> </span>
          <span class=" navbar-toggler-bar bar3"> </span>
        </button>
      </a>
      ProJiro
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">

    <a data-target="#searchModal" data-toggle="modal" (click)="openSearchPanel()">
      <i class=" tim-icons icon-zoom-split" id="search-button"></i>
    </a>

    <a (click)="openDialogInvitation()" id="search-button">
        <i class="tim-icons icon-single-02">+</i>
        <span class="d-lg-none d-md-block"></span>
    </a>

    <a ngbDropdown>
      <img class="photo" data-toggle="dropdown" alt="Profile Photo" src="assets/img/anime3.png" href="javascript:void(0)" ngbDropdownToggle/>
      <ul class=" dropdown-navbar" ngbDropdownMenu>
        <li class=" nav-link">
          <a class=" nav-item" (click)="navigationProjet()" ngbDropdownItem>
            Liste de projets
          </a>
        </li>
        <li class=" nav-link">
          <a class=" nav-item" routerLink="/user" ngbDropdownItem>
            Paramétres du compte
          </a>
        </li>
        <li class=" dropdown-divider"></li>
        <li class=" nav-link">
          <a class=" nav-item" (click)="logOut()" ngbDropdownItem>
            Se déconnecter
          </a>
        </li>
      </ul>
    </a>

    <a ngbDropdown>
        <a
          class="nav-link"
          data-toggle="dropdown"
          href="javascript:void(0)"
          ngbDropdownToggle
        >
          <div class="  d-none d-lg-block d-xl-block"></div>
          <i class=" tim-icons icon-bell-55" [matBadge]="listeRole?.length == 0 ? [] : listeRole?.length" matBadgeColor="warn"></i>
        </a>
        <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
          <li class=" nav-link" *ngFor="let role of listeRole">
            <div class=" nav-item" ngbDropdownItem disabled>
              vous Êtes inviter à rejoindre le projet
              <span class="text-primary">{{role.projet.nom}}</span>
            </div>
            <div class=" nav-item" ngbDropdownItem disabled>
              vous aurez le role
              <span class="text-primary" *ngIf="role.type == 'dev team'">equipe de developpement</span>
              <span class="text-primary" *ngIf="role.type == 'scrum master'">Scrum master</span>
              <span class="text-primary" *ngIf="role.type == 'po'">Product owner</span>
            </div>
            <div class="d-flex justify-content-center">
              <button mat-raised-button class="h-25 w-25" (click)="accepter(role)" style="margin-right:1%;" color="primary">Accepter</button>
              <button mat-raised-button class="h-25 w-25" (click)="refuser(role)" color="accent">Refuser</button>
            </div>
            <hr>
          </li>
        </ul>
    </a>

  </div>
</div>
