h2 {
  font-size: 22px;
  margin-bottom: 16px;
  text-align: left;
  padding: 25px;
  padding-bottom: 0;
  color: black;
}

.step-title {
  font-size: 17px;
  text-align:center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnSuivant{
  background-color: rgb(91, 91, 255);
  color: white;
  padding: 15px;
}
