<h2>Créer un ticket histoire</h2>
<mat-horizontal-stepper #stepper linear>
  <mat-step [stepControl]="form.get('titre')">
    <form [formGroup]="form">
      <ng-template matStepLabel>
        <span class="step-title">Etape 1: Titre et description</span>
      </ng-template>

      <mat-label>Titre</mat-label>
      <mat-form-field appearance="fill" style="width: 100%;">
        <input type="text" matInput placeholder="Nom du ticket histoire" formControlName="titre" required>
      </mat-form-field>

      <mat-label>Description</mat-label>
      <mat-form-field appearance="fill" style="width: 100%;">
        <textarea matInput placeholder="Description du ticket histoire" formControlName="description"></textarea>
      </mat-form-field>

      <div class="button-container">
        <button mat-button color="primary" (click)="onNoClick()" matStepperPrevious>Annuler</button>
        <button mat-button color="primary" matStepperNext [disabled]="!form.get('titre').valid && !form.get('description').valid">Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form.get('priorite')">
    <form [formGroup]="form">
      <ng-template matStepLabel>
        <span class="step-title">Etape 2: Priorité et effort</span>
      </ng-template>

      <mat-label>Priorité</mat-label>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-select name="priorite" formControlName="priorite" required>
          <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label>Effort</mat-label>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Effort</mat-label>
        <mat-select formControlName="effort" name="effort" required>
          <mat-option *ngFor="let num of efforts" [value]="num">{{ num }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button mat-button color="primary" matStepperPrevious>Retour</button>
        <button mat-button color="primary" [disabled]="!form.valid" (click)="onSave()">Créer</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>






