<div class="content">
    <div class="card col-lg-6 mx-auto" style="margin-top:5%;">
        <div class="card-body">
            <mat-tab-group>
                <mat-tab label="Projets"> 
                    <mat-list class="my-list">
                    <mat-list-item class="projet" 
                    *ngFor="let projet of projets;index as i">
                    <mat-icon matListItemIcon style="color:rgb(238, 238, 238)">folder</mat-icon>
                    <div matListItemTitle style="color:rgb(238, 238, 238)">
                        {{projet.nom}}
                        <button mat-mini-fab color="warn" class="pull-right" (click)="gerer(i)"
                            aria-label="Example icon button with a filter list icon">
                            <mat-icon>settings</mat-icon>
                        </button>
                    </div>

                    <div matListItemLine class="d-flex" style="color:rgb(238, 238, 238)">
                        {{projet.dateDebut | date}}

                    </div>


                </mat-list-item>
                </mat-list>
                </mat-tab>
                <mat-tab label="Invitations"> 
                     <ul class=" dropdown-menu-right dropdown-navbar" >
            <li class=" nav-link" *ngFor="let role of roles">
              <div >
                vous Êtes inviter à rejoindre le projet
                <span class="text-primary">{{role.projet.nom}}</span> 
              </div>
              <div>
                vous aurez le role 
                <span class="text-primary" *ngIf="role.type == 'dev team'">equipe de developpement</span>
                <span class="text-primary" *ngIf="role.type == 'scrum master'">Scrum master</span> 
                <span class="text-primary" *ngIf="role.type == 'po'">Product owner</span>  
              </div>
              <br>
              <div class="d-flex justify-content-center">
                <button mat-raised-button class="h-25 w-25" (click)="accepter(role)" style="margin-right:1%;" color="primary">Accepter</button>
                <button mat-raised-button class="h-25 w-25" (click)="refuser(role)" color="accent">Refuser</button>
              </div>
              <hr>
            </li>
          </ul>

                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>