.mat-mdc-list-item-icon {
    color: rgba(3, 28, 171, 0.54);
  }

  .my-list {
    height: 400px; /* hauteur */
    overflow-y: auto; /* affichez une barre de défilement verticale si nécessaire */
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Poignée de la barre de défilement */
  ::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 5px;
    border: 2px solid #fff;
  }
  
  /* Arrière-plan de la barre de défilement */
  ::-webkit-scrollbar-track {
    background-color: #413fc5;
  }
  
  /* Poignée de la barre de défilement au survol */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }
  
  /* Poignée de la barre de défilement lorsqu'elle est active */
  ::-webkit-scrollbar-thumb:active {
    background-color: #999;
  }

 
  .projet:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all ;
   
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  textarea[matInput] {
    height: 150px;
  }
  
  button[type="submit"],
  button[type="button"] {
    margin-top: 20px;
  }
  
  mat-form-field + mat-form-field {
    margin-left: 20px;
  }
  .date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

 
  .scrollable-cell {
    max-width:  100%;
    white-space: nowrap;
    overflow-x: auto;
  }

  .example-full-width {
    width: 100%;
  }
  