ul {
    list-style: none; /* Supprime les puces par d茅faut */
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: serif ;
}
li::before{
    content: "";
}
ul ul li:before {
    content: ">"; /* D茅finit le contenu de l'ic么ne */
    margin-right: 10px; /* Ajoute de l'espace entre l'ic么ne et le texte */
    color: #f00; /* D茅finit la couleur de l'ic么ne */
    font-size: 1.2em; /* D茅finit la taille de l'ic么ne */
  }