<h1 mat-dialog-title>Inviter des membre</h1>
<div mat-dialog-content>
  <h3>projet : {{data.projet?.nom}} </h3>

  <ng-container [formGroup]="rolePkForm">
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>notre liste des membre</mat-label>
    <mat-select formControlName="membreId"  >
      <mat-option *ngFor="let m of membreList" [value]="m.id">{{m.email}}</mat-option>
    </mat-select>
    <mat-error *ngIf="rolePkForm.get('membreId').hasError('required')">tu dois choisir un membre</mat-error>
  </mat-form-field>
  </ng-container>
  <ng-container [formGroup]="roleForm">
  <h3>role :</h3>
  <mat-form-field appearance="fill">
    <mat-label>liste des roles</mat-label>
    <mat-select formControlName="type" required>
      <mat-option>--</mat-option>
      <mat-option  [value]="'dev team'">
       development team
      </mat-option>
      <mat-option  [value]="'po'">
        Product owner
       </mat-option>
       <mat-option  [value]="'scrum master'">
        Scrum master
       </mat-option>
    </mat-select>
    <mat-error *ngIf="roleForm.get('type').hasError('required')">tu dois choisir le role dans l'equipe</mat-error>
    <mat-error *ngIf="roleForm.get('type').errors?.invalidRole" >
      Un projet peut avoire un seule
      <span *ngIf="roleForm.get('type').value == 'po'">Product owner</span>
      <span *ngIf="roleForm.get('type').value == 'scrum master'">Scrum master</span>
      est vous avez déjà envoyé une invitation contient ce role

      </mat-error>
  </mat-form-field>
</ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-flat-button color="primary" (click)="inviter()" [disabled]="!allValid()">Ajouter</button>
</div>

