

h2 {
  color: #555;
  font-size: 36px;
  font-weight: 700;
}

.hashed-border{
  border : 1px dotted grey;

}

.light{
  box-shadow: 5px 5px 10px 2px rgba(255,255,255,0.8);
}

.my-btn:hover{

  cursor:pointer;
  opacity:0.6;
  transition:all 0.5s;
}

.titre-zero{
  z-index: 9999;
  font-family: fantasy;
  position: relative;
  top:-20px;
  margin-left:37%;
  color: white;
}

