<div class="content" style="margin-top:4%;" >
  <ng-container  *ngIf="sprintBacklogs.length == 0">
  <h1 class="titre-zero">Aucun sprintBacklog pour le Moment</h1>
  <img width="100%" style="margin-top:-9%" height="50%" src="./../../../assets/img/loading.gif" />
  </ng-container>
<ng-container  *ngFor="let sprintBacklog of sprintBacklogs;index as i;">
  <div style="margin-bottom:4%;" class="accordion"  [attr.id]="'accordionExample'+i"  >
    <div class="accordion-item">
      <h2 class="accordion-header " (click)="toggleAccordion(i)"  id="heading{{i}}">
        <button class="accordion-button bg-danger " [disabled]="activeIndex !== i && activeIndex!=-1"  (click)="afficherDetailSprintBacklog(sprintBacklog)"  type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
          SprintBacklog #{{reverseIndex(i,sprintBacklogs.length)}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Objectif : {{sprintBacklog.sprint.objectif}}
        </button>
      </h2>
      <div [attr.id]="'collapse'+i" class="accordion-collapse bg-dark collapse "  aria-labelledby="heading{{i}}" [data-bs-parent]="'#accordionExample'+i">
        <div class="accordion-body " [ngClass]="{'active': activeIndex === i}" [hidden]="activeIndex !== i" style="margin-top:0px;margin-left:0px;">


          <!-- table -->

            <!-- header -->
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 hashed-border">
                <br>
                <p class="title text-light text-center">Utilisateur histoire</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 hashed-border">
                <br>
                <p class="title text-light text-center">Liste des tâches</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 hashed-border">
                <br>
                <p class="title text-light text-center">Heurs de travail</p>
              </div>
            </div>
            <!-- end header -->
            <!-- contenu body -->

            <div class="row" *ngFor="let task of taskMap | keyvalue">
              <div class="col-lg-4 col-md-4 col-sm-4 hashed-border">
                <br>
                <mat-card class="example-card" style="margin-bottom:4%;">
                  <mat-card-header>
                    <mat-card-title>{{task.key.titre}}</mat-card-title>
                    <mat-card-subtitle class="title">Priorite <span class="badge rounded-pill"
                      [ngClass]="{
                        'bg-success': task.key.priorite === 'faible',
                        'bg-warning': task.key.priorite === 'Moyenne',
                        'bg-danger': task.key.priorite === 'haute'
                      }"
                      >{{task.key.priorite}}</span></mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <span class="title">ticket histoire a une velocite de </span> <span class="text-warning"><bold>{{task.key.effort}}</bold></span>
                    <br>
                    <span class="title">ticket</span>&nbsp;<span class="badge rounded-pill" [ngClass]="{
                      'bg-success': task.key.status === 'TERMINE',
                      'bg-warning': task.key.status === 'EN_ATTENTE',
                      'bg-primary': task.key.status !== 'TERMINE' && task.key.status!== 'EN_ATTENTE'
                    }">{{task.key.status}}</span>
                    <div style="border:2px solid rgba(10,220,15,0.6);margin-top:2%;padding:5px;">
                    <span>{{task.key.description}}</span>
                    </div>
                  </mat-card-content>
                  <hr>
                  <mat-card-footer>
                    <div class="d-flex justify-content-evenly">
                      <div>date fin sprint :</div>
                      {{task.key.sprint.dateFin|date}}
                      <mat-icon style="margin-bottom: 1%;" class="text-danger">error</mat-icon>
                    </div>
                  </mat-card-footer>
                </mat-card>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 hashed-border">
                <div class="container">
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6"  *ngFor="let ticketTache of task.value;index as i">
                    <mat-card class="example-card" [ngStyle]="getBackgroundColor(i+1)"  style="margin-top:6%;">
                      <mat-card-header>
                        <mat-card-title class="title">
                          #{{i+1}}&nbsp; - {{ticketTache.titre}}
                          <span class="pull-right"><mat-icon class="text-success" *ngIf="ticketTache.etat=='terminé'">done_all</mat-icon></span>
                        </mat-card-title>
                        <mat-card-subtitle class="title">{{ticketTache.description}}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <br>
                        <br>
                      </mat-card-content>
                      <hr>
                      <mat-card-footer>
                        <div class="d-flex justify-content-around">
                          <div ><mat-icon>av_timer</mat-icon></div>
                          <div >{{ticketTache.dateLancement|date}}</div>
                          <div class="d-flex justify-content-between">
                            <button mat-icon-button *ngIf="ticketTache.membreId==null" [matMenuTriggerFor]="menu" (click)="prendreTicket(ticketTache.id,task.key)" style="border:1px solidblack;" aria-label="Example icon-button with a menu">
                              <mat-icon>person_add</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="ticketTache.membreId!=null" [matMenuTriggerFor]="menu" (click)="verifierPersPris(ticketTache.membre)" style="border:1px solidblack;" aria-label="Example icon-button with a menu">
                              <mat-icon>how_to_reg</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="detacher tâche" *ngIf="ticketTache.membreId!=null" [matMenuTriggerFor]="menu" (click)="detacherMembreDeTache(ticketTache)" style="border:1px solidblack;" aria-label="Example icon-button with a menu">
                              <mat-icon>clear</mat-icon>
                            </button>
                          </div>
                        </div>
                      </mat-card-footer>
                    </mat-card>
                  </div>

                  <!-- add card -->

                  <mat-card  mat-button (click)="openAjoutDialog(task.key,sprintBacklog)" class="btn col-lg-5 bg-light col-md-5 light col-sm-5"  style="margin-top:6%;border-top-right-radius:30%;cursor:pointer">
                    <mat-card-header >
                      <mat-card-title class="title"><br></mat-card-title>
                      <mat-card-subtitle class="title"></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <mat-icon  style="font-size:600%;width:auto;height:auto;margin-left:30%;border-top-right-radius:100px;">note_add</mat-icon>

                    </mat-card-content>

                    <mat-card-footer>
                      <div class="d-flex bd-highlight mb-1">

                        <div class="p-2 bd-highlight"></div>
                        <div class="ms-auto p-2 bd-highlight">


                        </div>
                      </div>
                    </mat-card-footer>
                  </mat-card>
                  <!-- end -->
                </div>

                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 hashed-border">
                <br>
                <!-- hORAIRE -->
                <div class="container justify-content-center">

              <div class="row my-btn"
     matTooltip="cliquer ici"
     (click)="tt.etat != 'terminé' ? openGestionTache(tt) : null"
     style="margin-bottom: 4%;"
     *ngFor="let tt of task.value; index as i">

  <span style="margin-left:1%;font-size:100%;" class="badge col-lg-12 col-md-12 col-sm-12 w-75 p-3 bg-secondary rounded-pill">
    <p class="title text-dark">
      <s *ngIf="tt.etat == 'terminé'">#T{{i+1}}&nbsp;&nbsp;&nbsp;{{tt.nbHeurs}}H de travail</s>
      <span *ngIf="tt.etat != 'terminé'">#T{{i+1}}&nbsp;&nbsp;&nbsp;{{tt.nbHeurs}}H de travail</span>
    </p>
  </span>

</div>

                </div>
              </div>
            </div>
            <!-- end body -->
          <!-- end -->
        </div>
      </div>
    </div>
  </div>
  <button style="margin-top:-1%;" mat-raised-button (click)="showCourbe=!showCourbe" color="accent">Graph</button>

    <app-histoire-membre-chart *ngIf="showCourbe" [sprintId]="sprintBacklog.sprintId"></app-histoire-membre-chart>

</ng-container>
</div>
