
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h3 class="card-category" style="color:rgb(226, 226, 226)">
                <i class="fa-solid fa-bars-progress"></i>
                Projet ({{projet.nom}})</h3>
            </div>
            <div class="col-sm-6 text-left">
              <h3 class="card-category" style="color:rgb(226, 226, 226); float:right">
                <i class="fas fa-calendar-alt"></i> {{projet.dateDebut |date}} - {{projet.dateFin |date}}
              </h3>
            </div>
          </div>
        </div>
        <canvas class="card-body" #myChart></canvas>
      </div>
    </div>
  </div>


<!-- BurnDownChart -->
  <div class="row" *ngIf="sprints?.length!=0">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category" style="color:rgb(226, 226, 226)">
                <i class="fas fa-calendar-alt"></i>
                {{sprints[sprintSelectedIndex].dateLancement |date}} - {{sprints[sprintSelectedIndex].dateFin |date}}</h5>
            </div>
            <div class="col-sm-6">
              <div
                class="btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
              <label *ngFor="let sprint of sprints; index as i" class="btn btn-sm btn-secondary btn-simple"
              [ngClass]="{'active': i === sprintSelectedIndex}"
              (click)="onSprintSelected(i)">
              <input type="radio" name="options" [checked]="i === sprintSelectedIndex"/>
              <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                  Sprint {{i+1}}
              </span>
              <span class="d-block d-sm-none">
                  <i class="tim-icons icon-single-02"></i>
              </span>
          </label>
          </div>
        </div>
      </div>
    </div>
        <div *ngFor="let sprint of sprints; let i = index;">
          <canvas id="canvas-{{ sprint.id }}" [hidden]="sprintSelectedIndex !== i"></canvas>
        </div>
      </div>
    </div>
  </div>
  
  <app-list-membre-projet></app-list-membre-projet>
</div>
