.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px rgba(255,255,255,0.3) dashed;
    
  }

  i{
    cursor: pointer;
  }
  
  /* Label */
  .file-upload label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  /* Input */
  .file-upload input[type="file"] {
    display: none;
    cursor: pointer;
  }
  
  .file-upload .file-upload-btn {
    background-color: #f44336;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
  }
  
  .file-upload .file-upload-btn:hover {
    background-color: #d32f2f;
  }
  
  .file-upload .file-upload-btn:focus {
    outline: none;
  }
  
  .file-upload .file-upload-btn:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  /* Filename display */
  .file-upload .file-name {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
  
  /* File icon */
  .file-upload .file-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  /* Style for when files have been selected */
  .file-upload.has-files .file-upload-btn {
    background-color: #4caf50;
  }
  
  .file-upload.has-files .file-upload-btn:hover {
    background-color: #388e3c;
  }
  
  .file-upload.has-files .file-upload-btn:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .file-upload.has-files .file-icon {
    color: #4caf50;
  }
  
  .file-upload.has-files .file-name {
    color: #4caf50;
  }

  .folder-text {
    color:rgba(255,255,255,0.3)
  }

  
  a{
    color:wheat;
  }
  .btn{
    border-radius: 50%;
    border:transparent;
    background-color: transparent;
    
  }